@(message: String)

@main("Home") {

    <form>
        <input type="text" placeholder="Search" id="search"> <br>
        <input type="date" id="datepickerIn"> <input type="date" id="datepickerOut"><br>
        <button type="button" onclick="href="#">Click Me!</button>
    </form>

    <div id="container">
        <img src="@routes.Assets.at("images/hotel img.jpeg")" >
        <p>This Hotel is annoying AF This Hotel is annoying AF This Hotel is annoying AF This Hotel is annoying AF</p>
        <a href="#">Reserve </a>
    </div>

    <div id="container">
        <img src="@routes.Assets.at("images/hotel2.jpeg")" >
        <p>This Hotel is annoying AF This Hotel is annoying AF This Hotel is annoying AF This Hotel is annoying AF</p>
        <a href="#">Reserve </a>
    </div>
}
